.recharts-card {
  background-color: #ffffff;
  border-radius: 13px;
  margin-left: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.week-cost-card {
  color: #718ebf;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
  padding: 5px;
  margin: 5px;
  align-self: flex-start;
  margin-left: 3%;
  margin-top: 2%;
}
.week-cost-span {
  color: #333b69;
}
.recharts-no-data {
  color: #333b69;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.36px;
  text-align: center;
  padding: 5px;
  margin: 5px;
  margin-left: 3%;
  margin-top: 2%;
}
