.sidebar-card {
  background-color: #ffffff;
  display: none;
  flex-direction: column;
  align-items: center;
  width: 15%;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  border-style: solid;
  border-width: 0px;
  border-right-width: 1px;
  border-color: #00000025;
}
@media (min-width: 768px) {
  .sidebar-card {
    display: flex;
  }
}
.sidebar-logo {
  width: 85%;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  outline: none;
}
.content-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}
.name-card {
  display: flex;
  margin: 0px;
  padding: 0px;
  align-items: center;
  width: 100%;
  margin-top: auto;
  border-style: solid;
  border-width: 0px;
  border-top-width: 1px;
  border-color: #00000025;
  justify-content: space-between;
}
.mail {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1%;
}
.avatar {
  width: 40px;
  height: 40px;
  padding: 5px;
  margin: 5px;
  border-radius: 55px;
}
.mail-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.usr-name {
  font-size: 14px;
  line-height: 21px;
  color: #505887;
  height: 15px;
  margin-bottom: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}
.usr-mail {
  font-size: 13px;
  line-height: 15px;
  color: #718ebf;
  height: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}
.logout-btn {
  background-color: transparent;
  color: #718ebf;
  font-size: 19px;
  border-width: 0px;
  cursor: pointer;
  outline: none;
  margin: 5px;
  margin-right: 3%;
}
.modal-card {
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(15px);
  background-color: #00000095;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mssg-card {
  background-color: #ffffff;
  border-radius: 13px;
  width: 35%;
  padding: 5px;
  margin: 5px;
  display: flex;
}
.bg-clr {
  background-color: #fde68a;
  width: 32px;
  height: 32px;
  border-radius: 51px;
  padding: 2px;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.out-icon {
  background-color: #fef3c7;
  width: 48px;
  height: 48px;
  border-radius: 51px;
  padding: 2px;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  margin-left: 2%;
}
.text-card {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 2%;
}
.logout-name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: #333b69;
  padding: 2px;
}
.cnfrm-txt {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #505887;
  padding: 2px;
}
.btn-crd {
  display: flex;
  padding: 5px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 768px) {
  .btn-crd {
    flex-direction: row;
  }
}
.s-btn {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  line-height: 20px;
  color: #ffffff;
  padding: 8px, 16px, 8px, 16px;
  background-color: #dc2626;
  height: 36px;
  width: 125px;
  cursor: pointer;
  outline: none;
  border-width: 0px;
  border-radius: 7px;
  margin: 5px;
  margin-right: 13px;
  margin-bottom: 7px;
}
.no-btn {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  line-height: 20px;
  color: #333b69;
  padding: 8px, 16px, 8px, 16px;
  background-color: #ffffff;
  height: 36px;
  width: 125px;
  cursor: pointer;
  outline: none;
  border-width: 1px;
  border-color: #cbd5e1;
  border-radius: 7px;
}
