.transactiontype-card {
  width: 100%;
  background-color: #ffffff;
  position: relative;
  border-width: 0px;
  border-bottom-width: 1px;
  margin: 0px;
  border-style: solid;
  border-color: #00000025;
  list-style-type: none;
  display: flex;
  align-items: center;
}
