.sidebar-card {
  background-color: #ffffff;
  display: none;
  flex-direction: column;
  align-items: center;
  width: 15%;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  border-style: solid;
  border-width: 0px;
  border-right-width: 1px;
  border-color: #00000025;
}
@media (min-width: 768px) {
  .sidebar-card {
    display: flex;
  }
}
.sidebar-logo {
  width: 85%;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  outline: none;
}
.sidebar-content-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}
.name-card {
  display: flex;
  margin: 0px;
  padding: 0px;
  align-items: center;
  width: 100%;
  margin-top: auto;
  border-style: solid;
  border-width: 0px;
  border-top-width: 1px;
  border-color: #00000025;
  justify-content: space-between;
}
.user-data {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1%;
}
.avatar {
  width: 40px;
  height: 40px;
  padding: 5px;
  margin: 5px;
  border-radius: 55px;
}
.mail-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.user-name {
  font-size: 14px;
  line-height: 21px;
  color: #505887;
  height: 15px;
  margin-bottom: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}
.user-mail {
  font-size: 13px;
  line-height: 15px;
  color: #718ebf;
  height: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}
.logout-btn {
  background-color: transparent;
  color: #718ebf;
  font-size: 19px;
  border-width: 0px;
  cursor: pointer;
  outline: none;
  margin: 5px;
  margin-right: 3%;
}
