.failure-card {
  background-color: #ffffff;
  width: 85%;
  border-radius: 13px;
  margin-left: 3%;
  padding: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}
.failure-head {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 600;
  line-height: 33.38px;
  padding: 3px;
  margin: 5px;
  color: #343c6a;
}
.failure-para {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 33.38px;
  padding: 3px;
  margin: 5px;
  margin-top: 0px;
  color: #718ebf;
}
